<div ng-controller="uTagsy.PropertyEditors.TagsController" class="umb-editor umb-tags">

    <div class="row">
        <input type="text"
               ng-keydown="addTagOnKeyPress($event)"
               placeholder="Type to add tags.."
               ng-model="tagToAdd" class="span4" />

        <div class="span6">
            <span ng-repeat="tag in currentTags" ng-click="removeTag(tag)" class="label label-primary tag">{{tag}} <i class="icon icon-delete"></i></span>

            <div class="hide">
                <span ng-repeat="tag in currentTagIds">{{tag}}</span>
            </div>
        </div>
    </div>


    <div class="row">
        <a id="uTagsy_all_tags_toggle" ng-click="showTags($event)" style="cursor: pointer;">Show/hide all tags</a>
        <ul id="uTagsy-tags-all" class="hide">
            <li ng-repeat="tag in allTags"><a class="uTagsy_global_tag" rel="{{tag}}" ng-click="addFromAllTags($event)">{{tag}}</a></li>
        </ul>
    </div>

</div>